<div id="tweets"></div>
<script>
(function () {
var t = hedgeye.twitter;
var url = t.listStatusesURL({list_id: t.config.listId, per_page: 8});
jQuery(document).ready(t.ready({jsonpURLs: [url]}));
})();
</script>
