<div id="tweets"></div>
<% javascript_tag do %>
  jQuery(function($){
    var t = hedgeye.twitter;
    var url = t.listStatusesURL({list_id: t.config.listId, per_page: 8});
    jQuery(document).ready(t.ready({jsonpURLs: [url]}));
  });
<% end %>
